# Application Server
PORT=3000
NODE_ENV=development
CLIENT_URL=http://localhost:5173

# Database (PostgreSQL)
DATABASE_URL=postgresql://debug_user:debug_secret_pass@localhost:5432/debug_event_db?schema=public

# Cache & Queues (Redis)
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# Code Execution Engine (Judge0)
JUDGE0_API_URL=http://localhost:2358
JUDGE0_AUTHN_TOKEN=

# JWT Secrets (Separated for Admin and Participant)
JWT_ADMIN_SECRET=super_secret_admin_jwt_key_fest_2026_x98f2
JWT_PARTICIPANT_SECRET=super_secret_participant_jwt_key_fest_2026_p37q1

# Default Admin Credentials for Seeding
ADMIN_USERNAME=admin
ADMIN_PASSWORD=adminpassword123
